<div class="background"></div>
<div class="searchBar">
  <form method="GET">
    <input type="text" placeholder="Was möchtest du wissen?" />
    <input type="submit" value="" />
  </form>
</div>
<div class="background-spacer"></div>

<div class="seperator specialSeperator">
  <h2>Filter</h2>
  <div class="filterList">
    <div class="filter">
      Vorlesung<i class="ti-list"
        ><span class="path1"></span><span class="path2"></span
        ><span class="path3"></span><span class="path4"></span
        ><span class="path5"></span><span class="path6"></span
      ></i>
    </div>
    <div class="filter">
      Vorlesung<i class="ti-list"
        ><span class="path1"></span><span class="path2"></span
        ><span class="path3"></span><span class="path4"></span
        ><span class="path5"></span><span class="path6"></span
      ></i>
    </div>
    <div class="filter">
      Vorlesung<i class="ti-list"
        ><span class="path1"></span><span class="path2"></span
        ><span class="path3"></span><span class="path4"></span
        ><span class="path5"></span><span class="path6"></span
      ></i>
    </div>
    <div class="filter">
      Vorlesung<i class="ti-list"
        ><span class="path1"></span><span class="path2"></span
        ><span class="path3"></span><span class="path4"></span
        ><span class="path5"></span><span class="path6"></span
      ></i>
    </div>
  </div>
</div>

<div class="results">
  <div
    *ngFor="let in of [0, 0, 0, 0, 0, 0, 0, 0, 0]; let i = index"
    class="result"
  >
    <div class="question">Was ist die Antwort auf alles?</div>
    <div class="answer">
      Lorem ipsum dolor sit amet consectetur adipisicing elit. Velit mollitia
      aut nemo consectetur. Ea mollitia totam modi repudiandae dignissimos id
      deleniti atque laborum tempore deserunt dicta, pariatur harum commodi
      aperiam! Lorem ipsum dolor sit amet consectetur adipisicing elit.
      Explicabo vero tempora, dolorum dolore aperiam maiores sequi, ratione
      architecto iste corrupti officia suscipit sit voluptates quae dolor hic
      doloribus esse ducimus.
    </div>
    <div class="actions">
      <div class="action green"><i class="ti ti-like"></i>137</div>
      <div class="action red"><i class="ti ti-dislike"></i>65</div>
      <div class="action blue"><i class="ti ti-feedback"></i>Feedback</div>
      <div class="action">
        <i class="ti-share"
          ><span class="path1"></span><span class="path2"></span></i
        >Vergrößern
      </div>
    </div>
  </div>
</div>
<style>
  @media screen and (max-height: 399px) {
    .searchBar {
      top: 85px;
    }
  }
  @media screen and (min-height: 400px) {
    .searchBar {
      top: 100px;
    }
  }
</style>
