<div class="background full"></div>
<div class="reasons">
  <h1>Fragen bearbeiten</h1>
  <p>
    Lorem ipsum dolor sit, amet consectetur adipisicing elit. Iusto, assumenda
    aliquid beatae dolorum, fuga consectetur iste quaerat sequi fugit, velit at!
    Assumenda, illo! Placeat labore illum minus, ipsam nobis hic.
  </p>
</div>

<div class="loginbox">
  <h1>Login</h1>
  <p>Melde dich mit deinem lieblings Service an</p>
  <div class="services">
    <div class="service"><i class="ti ti-apple"></i></div>
    <div class="service"><i class="ti ti-telegram"></i></div>
    <div class="service"><i class="ti ti-github"></i></div>
    <div class="service"><i class="ti ti-google"></i></div>
  </div>
</div>
