<div class="background"></div>
<div class="blurTitle">Einstellungen</div>
<div class="background-spacer"></div>

<div class="seperator specialSeperator">
  <h2>Guten Tag, Max Mustermann</h2>
  <div>
    <div class="signedInWith"><i class="ti ti-apple"></i></div>

    <div class="iconButton"><i class="ti ti-logout"></i>Abmelden</div>
  </div>
</div>

<div class="paragraph">
  <div class="grid grid-1-1">
    <div id="information">
      <h2>Informationen</h2>

      <div class="tableWrapper">
        <table>
          <tr>
            <td>Vorname</td>
            <td>Max</td>
          </tr>
          <tr>
            <td>Nachname</td>
            <td>Mustermann</td>
          </tr>
          <tr>
            <td>E-Mail</td>
            <td>max.mustermann@mail.com</td>
          </tr>
          <tr>
            <td>Mitglied seit</td>
            <td>16.10.2019</td>
          </tr>
          <tr>
            <td>Rang</td>
            <td>Admin</td>
          </tr>
        </table>
      </div>
    </div>
    <!--  /Information  -->
    <div id="stats">
      <h2>Statistik</h2>
      <div class="chart" likes="10%" dislikes="10%" comments="80%"></div>
    </div>
  </div>
</div>

<div class="paragraph">
  <h2>Fragen die ich mag</h2>
  <div class="close" active="true"></div>
  <div class="tableWrapper">
    <table>
      <tr>
        <td><i class="ti ti-remove red"></i></td>
        <td>Was ist die Antwort auf alles?</td>
        <td>42. Ganz klar. Was anderes ist falsch</td>
      </tr>
      <tr>
        <td><i class="ti ti-remove red"></i></td>
        <td>Was ist die Antwort auf alles?</td>
        <td>42. Ganz klar. Was anderes ist falsch</td>
      </tr>
      <tr>
        <td><i class="ti ti-remove red"></i></td>
        <td>Was ist die Antwort auf alles?</td>
        <td>42. Ganz klar. Was anderes ist falsch</td>
      </tr>
      <tr>
        <td><i class="ti ti-remove red"></i></td>
        <td>Was ist die Antwort auf alles?</td>
        <td>42. Ganz klar. Was anderes ist falsch</td>
      </tr>
    </table>
  </div>
</div>
<div class="paragraph">
  <h2>Fragen die ich nicht mag</h2>
  <div class="close" active="false"></div>
</div>
