@import "./variables";

:root {
  --background: #f0f0f0;
  --paragraph: #fff;
  --color: #111;
  --color-rgb: 17, 17, 17;
  --background-filter: brightness(100%);
}

:root {
  --background: #000;
  --paragraph: #111;
  --color: #eee;
  --color-rgb: 238, 238, 238;
  --background-filter: brightness(50%);
}

:root {
  @supports (top: constant(safe-area-inset-top)) {
    --safe-area-inset-top: constant(safe-area-inset-top);
    --safe-area-inset-right: constant(safe-area-inset-right);
    --safe-area-inset-bottom: constant(safe-area-inset-bottom);
    --safe-area-inset-left: constant(safe-area-inset-left);
  }
  @supports (top: env(safe-area-inset-top)) {
    --safe-area-inset-top: env(safe-area-inset-top);
    --safe-area-inset-right: env(safe-area-inset-right);
    --safe-area-inset-bottom: env(safe-area-inset-bottom);
    --safe-area-inset-left: env(safe-area-inset-left);
  }
}

html {
  font-family: -apple-system, BlinkMacSystemFont, SF Pro Display, Segoe UI,
    Roboto, Helvetica, Arial, sans-serif, Apple Color Emoji, Segoe UI Emoji,
    Segoe UI Symbol;
  scroll-behavior: smooth;
  min-height: 100vh;
  background: var(--background);
  color: var(--color);
}

body {
  margin: 0;
  min-height: 100vh;
  position: relative;
}

html,
body {
  max-width: 100vw;
  overflow-x: hidden;
}

i[class^="ti-"] {
  * {
    &::before {
      color: inherit !important;
    }
  }
}

h1 {
  text-align: center;
}
h2 {
  opacity: 0.8;
}

.richie-header-sticky {
  position: sticky;
  top: 0;
}

@media only screen and (min-height: 400px) {
  .background {
    height: 150px;
  }
  .background-spacer {
    height: 100px;
  }
}
@media only screen and (max-height: 399px) {
  .background {
    height: 120px;
    margin-bottom: -30px;
  }
  .background-spacer {
    height: 70px;
  }
}

.background {
  background-image: url("../../assets/landing.jpg");
  background-size: cover;
  background-position: center;
  margin-top: calc(-1 * env(safe-area-inset-top));
  padding-top: calc(2 * env(safe-area-inset-top));
  width: 100vw;
  position: absolute;
  top: 0px;
  z-index: -1;
  filter: var(--background-filter);
  &.full {
    height: 100vh;
  }
}

.ti.ti-user-card::before {
  mask-image: url("../../assets/user-card.svg");
}

a[richie] {
  position: relative;
  text-decoration: none;
  color: $blue;
  white-space: pre-line;
  &::before {
    content: "";
    transition: 0.3s ease;
    position: absolute;
    background: $blue;
    width: 0%;
    left: 50%;
    transform: translate(-50%);
    height: 1px;
    bottom: 0;
  }
  &:hover,
  &:active {
    &::before {
      width: 100%;
    }
  }
  &:not(:last-child) {
    margin-right: 15px;
  }
  * {
    color: $blue;
  }
  i {
    padding-right: 5px;
  }
}

::-webkit-scrollbar {
  width: 4px;
  height: 4px;
  position: absolute !important;
  border-radius: 4px;
  transition: 0.2s ease;
}

::-webkit-scrollbar:hover {
  width: 4px;
}

::-webkit-scrollbar-track {
  background: #ccc;
  border-radius: 4px;
}

::-webkit-scrollbar-thumb {
  background: #aaa;
  border-radius: 4px;
  transition: 0.2s ease;
  &:hover {
    background: #888;
    transition: 0.2s ease;
    cursor: grabbing;
  }
}

@media only screen and (max-width: 849px) {
  .loginbox {
    top: calc(50% + 25px);
    left: 50%;
    transform: translate(-50%, -50%);
    width: calc(
      100% - 10px - env(safe-area-inset-right) - env(safe-area-inset-left)
    );
    h1 {
      padding-top: 10px;
    }
    .services {
      .service {
        width: calc(40%);
        &:not(ODD) {
          margin-right: 10px;
        }
      }
    }
  }
  .reasons {
    display: none;
  }
}

@media only screen and (max-width: 400px) {
  .loginbox {
    .services {
      .service {
        width: calc(100% - 14px);
        margin-right: 0px !important;
      }
    }
  }
}

@media only screen and (min-width: 850px) {
  .loginbox {
    width: 450px;
    right: 10vw;
    top: 50%;
    transform: translateY(-50%);
    .services {
      .service {
        width: calc(100% - 14px);
      }
    }
  }
}

.loginbox {
  position: absolute;
  backdrop-filter: blur(50px);
  border-radius: 10px;

  * {
    text-align: center;
    color: #fff;
  }

  h1 {
    margin: 0px;
    margin-top: 20px;
  }
  p {
    margin: 10px 0px;
  }
  .services {
    margin: 30px 50px;
    .service {
      display: inline-block;
      padding: 7px;
      border: 2px solid #fff;
      border-radius: 1000px;
      font-weight: 600;
      cursor: pointer;
      &:not(:last-child) {
        margin-bottom: 15px;
      }

      transition: 0.2s ease;
      &:hover,
      &:focus {
        color: #111;
        background: #fff;
        i {
          color: #111;
        }
      }
      &::before {
        content: "Sign in with";
      }
    }
  }
}

.reasons {
  position: absolute;

  left: 50px;
  top: 50%;
  transform: translateY(-50%);
  width: 45vw;
  color: #fff;
  text-shadow: 1px 1px 1px rgba(0, 0, 0, 0.5);

  h1 {
    font-size: 2.2em;
    overflow: hidden;
    position: relative;
    &::before {
      content: "";
      position: absolute;
      bottom: 0px;
      left: 0;
      right: 0;
      height: 1px;
      background: linear-gradient(
        90deg,
        #fff,
        rgba(255, 255, 255, 0.25),
        rgba(255, 255, 255, 0)
      );
      z-index: -1;
    }
  }
  p {
    font-size: 1.3em;
  }
}

.searchBar {
  position: absolute;
  width: 80%;
  left: 50%;
  top: 50%;
  height: 40px;
  border-radius: 100px;
  transform: translate(-50%, -50%);
  backdrop-filter: blur(50px);
  background: rgba(0, 0, 0, 0.1);
  z-index: 1;
  color: #fff;
}
form {
  z-index: 2;
  min-width: 100%;
  display: flex;
  border-radius: 200px;
  justify-content: space-between;
  input {
    color: inherit, var(--color);
    background: transparent;
    &[type="text"] {
      width: calc(100% - 40px);
      font-size: 1.2em;
      padding: 0;
      color: inherit, currentColor;
      padding-left: 25px;
      height: 40px;
      border: none;
      outline: none;
      background: none;
    }
    &::placeholder {
      color: currentColor;
      opacity: 0.7;
    }
    display: inline-flex;

    &[type="submit"] {
      cursor: pointer;
      background: currentColor;
      mask-image: url("https://cdn.jsdelivr.net/gh/TimoScheuermann/Timos-Icons@latest/docs/iconSet/svg/search.svg");
      width: 30px;
      height: 30px;
      margin-top: 5px;
      margin-right: 5px;
      mask-size: contain;
      mask-repeat: no-repeat;
      mask-position: center;

      &[isSearching="true"] {
        animation: search 1.5s ease-in-out infinite both;
      }
    }

    @keyframes search {
      0%,
      100% {
        transform: rotate(0deg) scale(1);
      }
      50% {
        transform: rotate(90deg) scale(0.8);
      }
    }
  }
}

@media only screen and (min-height: 400px) {
  .seperator {
    height: 100px;
  }
}

.seperator {
  position: sticky;
  top: calc(50px + env(safe-area-inset-top));
  margin-top: calc(50px + env(safe-area-inset-top));
  z-index: 5;
  min-height: 70px;
  width: 80%;
  max-width: 100vw;
  padding: 0px 10%;

  background: var(--paragraph);
  box-shadow: 4px 8px 20px rgba(0, 0, 0, 0.1);

  display: flex;
  justify-content: space-between;
  align-items: center;

  & > * {
    display: inline-flex;
    &:first-child {
      margin-right: 20px;
    }
    &:last-child {
      margin-right: var(--safe-area-inset-right);
    }
  }
  -webkit-overflow-scrolling: touch;
  overflow-x: touch;
  overflow-y: hidden;
}

.filter {
  padding: 5px 25px;
  border: 1px solid rgba(var(--color-rgb), 0.5);
  border-radius: 10px;
  opacity: 0.8;
  transition: 0.2s ease;
  cursor: pointer;
  user-select: none;

  &:hover {
    opacity: 1;
  }
  &:not(:last-child) {
    margin-right: 25px;
  }
  i {
    padding-left: 10px;
  }
}

@media only screen and (max-width: 849px) {
  .results {
    columns: 1;
    padding: 0px;
    padding-left: var(--safe-area-inset-left);
    padding-right: var(--safe-area-inset-right);
    padding-bottom: var(--safe-area-inset-bottom);
  }
}
@media only screen and (min-width: 850px) {
  .results {
    columns: 2;
    padding: 0px 10%;
  }
}

.results {
  display: block;
  column-gap: 20px;
  margin: 20px 0px;

  .result {
    margin-top: 30px;
    display: inline-block;
    background: var(--paragraph);
    padding: 20px;
    padding-bottom: 10px;
    border-radius: 5px;
    box-shadow: 2px 4px 10px rgba(0, 0, 0, 0.1);

    .question {
      font-weight: 600;
      font-size: 1.1em;
      text-align: center;
      margin-bottom: 10px;
    }

    .answer {
      border-bottom: 1px solid rgba(0, 0, 0, 0.3);
      padding-bottom: 10px;
    }

    .actions {
      padding-top: 10px;
      display: flex;
      justify-content: space-between;
      align-items: center;

      .action {
        cursor: pointer;
        font-weight: 600;
        display: inline-flex;
        opacity: 0.8;
        transition: 0.2s ease;
        &:hover {
          opacity: 1;
        }
        &:not(:nth-child(2)) {
          i {
            padding-right: 5px;
          }
        }
        &:nth-child(4) {
          color: rgba(var(--color), 0.5);
        }
      }
    }
  }
}

textarea {
  width: 100%;
  padding: 0;
  font: inherit;
  background: transparent;
  border: none;
  resize: none;
  outline: none;
  opacity: 0.7;
  transition: 0.3s ease;
  color: var(--color);
  &:focus {
    opacity: 1;
  }
}

.grid {
  display: grid;
  grid-gap: 20px;
}

@media only screen and (max-width: 849px) {
  .grid-3-1 {
    grid-template-columns: 1fr;
  }
  .grid-1-1-1-1 {
    grid-template-columns: repeat(2, 1fr);
  }

  .grid-1-1 {
    grid-template-columns: 1fr;
  }
}
@media only screen and (min-width: 850px) {
  .grid-3-1 {
    grid-template-columns: 3fr 1fr;
  }
  .grid-1-1-1-1 {
    grid-template-columns: repeat(4, 1fr);
  }
  .grid-1-1 {
    grid-template-columns: 1fr 1fr;
  }
}

@media only screen and (min-height: 400px) {
  .blurTitle {
    top: calc(100px + env(safe-area-inset-top));
  }
}
@media only screen and(max-height: 399px) {
  .blurTitle {
    top: calc(85px + env(safe-area-inset-top));
  }
}

.blurTitle {
  position: absolute;
  width: 80%;
  left: 50%;
  height: 40px;
  font-weight: 600;
  font-size: 2em;
  text-align: center;
  transform: translate(-50%, -50%);
  color: #fff;
  z-index: 1;
}

@media only screen and (min-width: 850px) {
  .iconButton {
    color: $blue;
    &::before {
      width: 0px;
      height: 0px;
    }
    &:hover,
    &:focus {
      color: #fff !important;
      &::before {
        width: calc(100% + 10px);
        height: calc(100% + 10px);
      }
    }
  }
}

@media only screen and (max-width: 849px) {
  .iconButton {
    color: #fff;
    &::before {
      width: calc(100% + 10px);
      height: calc(100% + 10px);
      border-radius: 100px;
    }
    &:hover,
    &:focus {
      filter: brightness(120%);
    }
  }
}

.iconButton {
  border: 1px solid $blue;
  z-index: 1;
  display: inline-block;
  background: transparent;
  position: relative;
  font-size: inherit, 16px;
  font-weight: 600;
  text-decoration: none;
  padding: 5px 20px;
  border-radius: 40px;
  user-select: none;
  cursor: pointer;
  width: auto;
  max-height: 20px;

  overflow: hidden;
  white-space: nowrap;
  transition: color 0.4s ease-in-out;

  i {
    font-weight: 400;
    padding-right: 10px;
    padding-left: -5px;
    color: inherit;
  }

  &:not(:last-child) {
    margin-right: 20px;
  }

  &:active {
    filter: brightness(120%);
  }

  &::before {
    content: "";
    z-index: -1;
    position: absolute;
    top: 50%;
    left: 50%;
    transform-origin: center;
    background-color: $blue;

    transform: translate3d(-50%, -50%, 0);
    transition: 0.35s ease-in-out;
  }

  &:hover,
  &:focus {
    box-shadow: none;
    outline: none;
    &::before {
      border-radius: 0px;
    }
  }
}

.red {
  color: $red;
}
.green {
  color: $green;
}
.blue {
  color: $blue;
}

@media only screen and (min-width: 850px) {
  .paragraph {
    margin: 50px 10%;
    .paragraph {
      margin: 0;
    }
  }
}

@media only screen and (max-width: 849px) {
  .paragraph {
    margin: 50px 0px;
    .paragraph {
      margin: 0px -40px;
    }
  }
}

.paragraph {
  position: relative;
  background: var(--paragraph);
  padding: 20px 40px;
  padding-bottom: 10px;
  border-radius: 5px;
  * {
    margin: 0;
    margin-bottom: 10px;
  }
  p {
    text-align: justify;
  }
}

.socialMediaAccounts {
  display: grid;
  grid-template-columns: repeat(5, 1fr);
  grid-gap: 40px;
  overflow: auto;
  .socialAccount {
    margin-top: 10px;
    display: inline-grid;
    text-align: center;
    opacity: 0.8;
    transition: 0.2s ease;
    cursor: pointer;

    &:not(:hover) {
      color: unset;
    }
    &:hover {
      opacity: 1;
    }
    * {
      margin: 0;
    }
    i {
      font-size: 3em;
    }
    .account {
      margin-top: 10px;
      font-weight: 700;
      font-size: 0.8em;
    }
  }
}

.type {
  opacity: 0.5;
  transition: 0.3s ease;
  cursor: pointer;
  display: flex;
  margin-bottom: 0px;
  align-items: center;

  font-weight: 700;

  * {
    display: inline-flex;
  }

  &:hover {
    opacity: 1;
  }

  &[active="true"] {
    opacity: 1;
    .name {
      box-shadow: 2px 4px 10px rgba(0, 0, 0, 0.2);
    }
  }

  &:not(:last-child) {
    margin-right: 20px;
  }

  .name {
    padding: 5px 10px;
    font-size: 0.8em;
    border-radius: 20px;
    color: rgba(#fff, 0.8);
    margin-bottom: 0px;
  }

  .new {
    background: $green;
    &::before {
      content: "Neu";
    }
  }
  .delete {
    background: $red;
    &::before {
      content: "Löschen";
    }
  }
  .feedback {
    background: $blue;
    &::before {
      content: "Feedback";
    }
  }

  .amount {
    margin-left: 10px;
    &::before {
      content: "x";
    }
  }
}

.tableWrapper {
  width: 100%;
  overflow-x: auto;

  table {
    min-width: 100%;
    text-align: left;
    border-collapse: collapse;

    tr {
      cursor: pointer;

      &:nth-child(ODD) {
        td {
          background: var(--background);
        }
      }
      transition: 0.2s ease;
      &:hover {
        // box-shadow: 2px 4px 8px rgba(0, 0, 0, 0.19);
        td {
          background: rgba($blue, 0.5);
        }

        .lecture {
          border-color: $blue;
          color: $blue;
        }
      }

      th,
      td {
        padding: 10px;
        transition: 0.2s ease;

        font-size: 16px !important;
      }
      th {
        border-bottom: 1px solid black;
      }

      .lecture {
        border: 1px solid rgba(var(--color-rgb), 0.6);
        padding: 5px 10px;
        border-radius: 5px;
        transition: 0.2s ease;
      }

      .amount {
        font-weight: 600;
        color: rgba(var(--color), 0.8);
      }

      td {
        white-space: nowrap;

        .name {
          box-shadow: none !important;
        }

        img {
          height: 40px;
          border-radius: 100px;
          margin: 0;
        }
      }
    }
  }
}

.signedInWith {
  border: 1px solid rgba(var(--color-rgb), 0.8);
  border-radius: 10px;
  padding: 5px 15px;
  font-weight: 600;
  margin-right: 20px;
  height: 20px;
  line-height: 20px;

  &::before {
    content: "Signed in with";
  }
}

.chart {
  background: conic-gradient($red 10%, $green 10% 20%, $blue 0);
  border-radius: 10000px;
  width: 200px;
  height: 200px;
}

.close {
  width: 40px;
  height: 40px;
  right: 5px;
  top: 5px;
  border-radius: 40px;
  position: absolute;
  font-size: 38px;
  line-height: 40px;
  text-align: center;
  transition: 0.1s ease;
  transition: transform 0.5s ease;
  cursor: pointer;
  opacity: 0.4;
  &:hover {
    opacity: 0.8;
  }

  &[active="false"] {
    transform: rotate(45deg);
  }

  &:before,
  &:after {
    position: absolute;
    content: "";
    width: 1px;
    height: 40px;
    background: var(--color);
  }
  &:before {
    transform: rotate(45deg) scale(0.7);
  }
  &:after {
    transform: rotate(-45deg) scale(0.7);
  }
}

.forOfor {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  backdrop-filter: blur(50px);
  color: #fff;
  padding: 20px 30px;
  border-radius: 10px;

  text-align: center;
  * {
    margin: 0;
  }
  p {
    margin: 10px 0px;
  }
  .iconButton {
    color: #fff;
    border-color: #fff;
    &:hover,
    &:focus {
      color: #111 !important;
    }
    &::before {
      background: #fff;
    }
  }
}

.stat {
  background: var(--background);
  padding: 20px 10px;
  border-radius: 5px;
  & > * {
    display: inline-block;
    width: 100%;
    margin: 0 !important;
    text-align: center;
  }
  p {
    text-align: center;
    font-weight: 700;
    font-size: 1.1em;
    opacity: 0.8;
  }
  .icon {
    padding-top: 10px;
    font-size: 50px;
  }
  .number,
  .text {
    color: $blue;
    font-size: 1.6em;
  }
  .number {
    font-weight: 800;
  }
  .text {
    font-weight: 600;
  }
}

.anchor {
  position: absolute;
  margin-top: -150px;
}
