<div class="footer">
  <div class="grid grid-footer">
    <div class="logo">
      <div class="title">DHBW Richie</div>
      <div class="subtitle">Wissensdatenbank</div>
    </div>
    <div class="news">
      <div class="heading">
        <span>more</span>
        <span>Neuigkeiten von DHBW-Richie</span>
        <a href="">more</a>
      </div>
      <div class="messages">
        <div class="message">
          <div class="type update"></div>
          <div class="title">Richie v2 kommt Anfang 2020</div>
          <div class="date">26. November 2019</div>
        </div>
        <div class="message">
          <div class="type photo"></div>
          <div class="title">Neues Design nimmt Formen an</div>
          <div class="date">20. November 2019</div>
        </div>
        <div class="message">
          <div class="type feature"></div>
          <div class="title">Neues Feature Hinzugefügt: Feedback</div>
          <div class="date">20. November 2019</div>
        </div>
      </div>
    </div>
    <div class="quicklinks">
      <a href="">About us</a>
      <a href="">Impressum</a>
      <a href="">Legal</a>
      <a href="">Feedback</a>
    </div>
  </div>
  <div class="socialMedia">
    <i class="ti-facebook"></i>
    <i class="ti-twitter"></i>
    <i class="ti-instagram"></i>
    <i class="ti-telegram"></i>
    <i class="ti-youtube"></i>
  </div>
  <div class="copyright">© {{ currYear }}. All rights reserved.</div>
</div>
