@import "../../scss/variables";

.hero {
  display: flex;
  justify-content: center;

  span {
    &:nth-child(2) {
      background: var(--color);
      mask-image: url("../../../assets/kekse\ ^^/richie\ cookies\ text.svg");
      mask-size: contain;
      mask-repeat: no-repeat;
      mask-position: center;
      * {
        opacity: 0;
      }
    }
    * {
      margin-bottom: 0 !important;
    }
  }
}

p {
  text-align: justify;
  max-width: 535px;
}
