<richie-popup
  [opened]="opened"
  (close)="opened = false"
  header="Wir schätzen deine Privatsphäre"
>
  <div class="hero">
    <span>
      <img src="../../../assets/kekse ^^/richie cookies icon.svg" />
    </span>
    <span>
      <img src="../../../assets/kekse ^^/richie cookies text.svg" />
    </span>
  </div>
  <p>
    Wenn sie DHBW-Richie benutzen, verwenden wir Cookies und andere Methoden, um
    Ihre personenbezogenen Daten zu verarbeiten und um Inhalte und Ihre
    Website-Erfahrung zu verbessern.
  </p>
  <p>
    Bitte klicken Sie auf <b>Akzeptieren</b>, um der Verwendung Ihrer Daten zu
    zustimmen.
  </p>
  <p>
    Weitere Informationen darüber, wie wir Ihre personenbezogenen Daten
    verarbeiten, finden Sie in unseren
    <a richie [routerLink]="['legal']" fragment="cookies" (tap)="hide()">
      Datenschutzbestimmungen</a
    >.
  </p>

  <div class="buttons">
    <div class="iconButton" (tap)="decline()">Ablehnen</div>
    <div class="iconButton" (tap)="accept()">Akzeptieren</div>
  </div>
</richie-popup>
