<div class="background"></div>
<div class="blurTitle">Review</div>
<div class="background-spacer"></div>

<div class="seperator">
  <h2>Übersicht</h2>
  <div>
    <div
      *ngFor="let filter of filters"
      [attr.active]="isFilterActive(filter)"
      (tap)="toggleFilter(filter)"
      class="type"
    >
      <div
        [attr.active]="isFilterActive(filter)"
        [ngClass]="['name', filter]"
      ></div>
      <div class="amount">{{ getAmountOfX(filter) }}</div>
    </div>
  </div>
</div>

<div class="paragraph">
  <h2>Offene Tickets</h2>
  <div class="tableWrapper">
    <table>
      <tr *ngIf="getFilteredQuestions().length > 0">
        <th>Status</th>
        <th>Frage</th>
        <th>Antwort</th>
      </tr>
      <tr
        *ngFor="let question of getFilteredQuestions()"
        (tap)="currentQuestion = question; opened = true"
      >
        <td>
          <div active="true" class="type">
            <div [ngClass]="['name', question.status]"></div>
          </div>
        </td>
        <td>{{ question.question }}</td>
        <td>{{ question.answer }}</td>
      </tr>
    </table>
  </div>
</div>

<richie-popup
  [opened]="opened"
  (close)="opened = false"
  header="Frage & Antwort bearbeiten"
>
  <div active="true" class="type">
    <div [ngClass]="['name', '' + currentQuestion.status]"></div>
  </div>

  <h2>Frage</h2>
  <textarea rows="5">{{ currentQuestion.question }}</textarea>

  <h2>Antwort</h2>
  <textarea rows="5">{{ currentQuestion.answer }}</textarea>

  <div class="grid grid-3-1">
    <div>
      <h2>Quelle</h2>
      <textarea rows="1">{{ currentQuestion.source }}</textarea>
    </div>

    <div>
      <h2>Vorlesung</h2>
      <div class="filter">Vorlesung<i class="ti ti-list"></i></div>
    </div>
  </div>

  <div class="buttons">
    <div class="iconButton"><i class="ti ti-delete"></i>Frage löschen</div>
    <div class="iconButton"><i class="ti ti-reply"></i>Frage überarbeiten</div>
  </div>
</richie-popup>
