<div class="background"></div>
<div class="blurTitle">Review</div>
<div class="background-spacer"></div>

<div class="seperator specialSeperator">
  <h2>Übersicht</h2>
  <div>
    <div class="type">
      <div class="feedback name"></div>
      <div class="amount">8</div>
    </div>
    <div active="true" class="type">
      <div class="new name"></div>
      <div class="amount">17</div>
    </div>
    <div active="true" class="type">
      <div class="delete name"></div>
      <div class="amount">2</div>
    </div>
  </div>
</div>

<div class="paragraph">
  <h2>Offene Tickets</h2>
  <div class="tableWrapper">
    <table>
      <tr>
        <th>Status</th>
        <th>Frage</th>
        <th>Antwort</th>
      </tr>
      <tr>
        <td>
          <div active="true" class="type">
            <div class="delete name"></div>
          </div>
        </td>
        <td>Was ist die Antwort auf alles?</td>
        <td>42. f**king boomer</td>
      </tr>
      <tr>
        <td>
          <div active="true" class="type">
            <div class="delete name"></div>
          </div>
        </td>
        <td>Was ist die Antwort auf alles?</td>
        <td>42. f**king boomer</td>
      </tr>
      <tr>
        <td>
          <div active="true" class="type">
            <div class="delete name"></div>
          </div>
        </td>
        <td>Was ist die Antwort auf alles?</td>
        <td>42. f**king boomer</td>
      </tr>
      <tr>
        <td>
          <div active="true" class="type">
            <div class="feedback name"></div>
          </div>
        </td>
        <td>Was ist die Antwort auf alles?</td>
        <td>42. f**king boomer</td>
      </tr>
      <tr>
        <td>
          <div active="true" class="type">
            <div class="delete name"></div>
          </div>
        </td>
        <td>Was ist die Antwort auf alles?</td>
        <td>42. f**king boomer</td>
      </tr>
      <tr>
        <td>
          <div active="true" class="type">
            <div class="new name"></div>
          </div>
        </td>
        <td>Was ist die Antwort auf alles?</td>
        <td>
          42. f**king boomer Lorem ipsum dolor sit amet consectetur adipisicing
          elit. Ducimus aperiam, minima ipsum vitae eius fugiat asperiores
          accusantium molestias dicta a omnis totam quidem atque quis, iure eos
          beatae possimus laborum! Lorem ipsum dolor sit amet consectetur
          adipisicing elit. Cum repudiandae officia maxime nam reprehenderit
          odio quaerat ipsa aut et eaque dicta repellendus, culpa nesciunt
          laudantium, non error rerum, unde earum!
        </td>
      </tr>
      <tr>
        <td>
          <div active="true" class="type">
            <div class="new name"></div>
          </div>
        </td>
        <td>Was ist die Antwort auf alles?</td>
        <td>42. f**king boomer</td>
      </tr>
      <tr>
        <td>
          <div active="true" class="type">
            <div class="feedback name"></div>
          </div>
        </td>
        <td>Was ist die Antwort auf alles?</td>
        <td>42. f**king boomer</td>
      </tr>
    </table>
  </div>
</div>
